<div class="p-3 ms-2">
    <app-alert *ngIf="alertData.isNotification" [type]="alertData.type" [message]="alertData.message"></app-alert>
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-2">
            <input 
                type="email" 
                class="form-control" 
                [class]="{ 'is-invalid': forgetPasswordForm.controls['usernameOrEmail'].invalid && forgetPasswordForm.controls['usernameOrEmail'].touched }"
                placeholder="Tên đăng nhập hoặc địa chỉ email" 
                formControlName="usernameOrEmail"
            >
            <div class="form-text text-danger" *ngIf="forgetPasswordForm.controls['usernameOrEmail'].hasError('required') && forgetPasswordForm.controls['usernameOrEmail'].touched">Tên đăng nhập hoặc địa chỉ email không được để trống.</div>
        </div>
        <div class="mb-2 d-flex flex-column">
            <span>Không có tài khoản? <a class="text-decoration-none" [routerLink]="['/auth/register']">Đăng kí ngay</a></span>
            <span>Đã có tài khoản? <a class="text-decoration-none" [routerLink]="['/auth/login']">Đăng nhập ngay</a></span>
        </div>
        <button type="submit" class="btn btn-primary col-12" [disabled]="!forgetPasswordForm.valid">Lấy lại mật khẩu</button>
    </form>
</div>