<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li 
            class="page-item cursor-pointer"
            [class]="{ 'disabled': currentPage == 1 }"
        >
            <a class="page-link" (click)="onClickPrev()">Previous</a>
        </li>
        <li 
            class="page-item cursor-pointer" 
            [class]="{ 'active': currentPage == i + 1}"
            *ngFor="let item of [].constructor(totalPage); let i = index"
        >
            <a class="page-link" (click)="onToPage(i + 1)">{{ i + 1 }}</a>
        </li>
        <li 
            class="page-item cursor-pointer"
            [class]="{ 'disabled': currentPage == totalPage }"
        >
            <a class="page-link" (click)="onClickNext()">Next</a>
        </li>
    </ul>
</nav>